ここは、管理者画面です。
不適切な投稿、コメントがあったら削除しましょう。
<% @comments.each do |comment| %>
   <div class="col-10">
      <p class="card-title">
             <strong><i class="far fa-flag"></i><span> <%= comment.comment %></span></strong>
              </p>
              </div>
              <%= link_to "削除", admin_comment_path(comment), method: :delete %>
<% end %>