<p id="notice"><%= notice %></p>
<% @post.tags.each do |tag| %>
    <%= tag.name %>
<% end %>

<% @comments.each do | comment | %>
<p><%= comment.comment %></p>
<% end %>

<%= link_to 'Back', posts_path %>
