<main>
        <p id="notice"></p>
        <div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>ここは <i class="fas fa-book"></i><strong>みんなで作った料理を共有することができるサイトです</strong> !!</h1>
      <p>皆で<i class="fas fa-book"></i><strong>作った料理などを</strong></p>  
      <p>投稿してみんなでシェアしましょう！！</p>
      <p> まだ見ぬ上手さを求め...</p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to "Log in",new_customer_registration_path, class: "btn btn-info btn-sm btn-block mb-3" %>
                </div>
        <div class="row">
          <%= link_to "Sign up", new_customer_session_path, class: "btn btn-success btn-sm btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>


      </main>